body{
	background-color: skyblue;
}
h1{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
h2{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
h3{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
h4{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
h5{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
h6{
	text-align: center;
	font-weight: bolder;
	color: maroon;
}
